# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Collabora, Ltd.

/xrGround
/xrground
/xrGround.exe
/xrground.exe
/monado-scene
/monado-scene.exe
/virtualground
/VirtualGround
/virtualground.exe
/VirtualGround.exe
/res/appimage/VirtualGround
